{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register -Axis Bank</title>
    <link href="{% static 'css/join/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="top-div">
        <h4>AXIS Bank</h4>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        </ul>
    </div>
    <div class="intro">
        <p> Login to your AXIS Bank account </p>
    </div>
    <div class="login-div">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="inner-form-div">
                <label for="id_username">Username:</label><br/>
                <input type="text" name="username" placeholder="Username" maxlength="20" required id="id_username"><br/>
               
                <label for="id_password">Password:</label><br/>
                <input type="password" name="password" placeholder="password" maxlength="30" required id="id_password"><br/>
               
                <button type="submit">Log In</button><br/><br/>

                <p> Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}


