{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password -Axis Bank</title>
    <link href="{% static 'css/pages/change_password.css' %}" rel="stylesheet">
</head>
<body>
    <div class="top-div">
        <h4>AXIS Bank</h4>

        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
    <div class="intro">
        <p><b>Change Password</b></p>
    </div>
    <div class="change-password-div">
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            <div class="inner-form-div">
                <label for="id_new_password">New password:</label><br/>
                <input type="password" name="new_password" placeholder="New Password" maxlength="30" required id="id_new_password"><br/>
               
                <label for="id_new_password_again">New password again:</label><br/>
                <input type="password" name="new_password_again" placeholder="Password Again" maxlength="30" required id="id_new_password_again"><br/>
                <button type="submit">Change Password</button><br/><br/>

                <p> Changed your mind? go back to <a href="{% url 'dashboard' %}">Dashboard</a></p>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}


