{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/pages/dashboard.css' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        <!-- {% for message in messages %}
            {% for tag in message.tags %}
                {% if tag == "success" %}
                <p class="success">{{message}}</p>
                {% elif tag == "info" %}
                <p class="info">{{messages}}</p>
                {% else %}
                <p class="error">{{message}}</p>
                {% endif %}
            {% endfor %} -->

        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        <!-- {% endfor %} -->
    {% endif %}
    <div class="top-div">
        <h4><span>Welcome,</span> {{request.user.username}}</h4>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a  class="logout" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
    <div class="dashboard-div">
        <div class="profile-img">
            <img src="#"> 
        </div>
        {% for p in profile %}
        <div class="account-info">
            <p><b>Account Balance</b>: ${{p.account_balance}}</p>
            <p><b>Account Type</b>: {{p.account_type}}</p>
            <p><b>Account Number</b>: {{p.account_number}}</p>
        </div>
        <hr/><br/>
        <div class="profile-info">
            <p><b>Account Name</b>: {{p.account_name}}</p>
            <p><b>Username</b>: {{p.account_owner.username}}</p>
            <p><b>Email</b>: {{p.account_owner.email}}</p>
            <p><b>Phone</b>: {{p.account_phone}}</p>
            <p><b>Occupation</b>: {{p.account_occupation}}</p>
            <p><b>Address</b>: {{p.account_address}}</p>
        </div>
        {% endfor%}
        <div class="edit">
            <p><a href="{% url 'money_transfer' %}">Money Transfer</a></p> <p><a href="{% url 'account_history' %}">View Transaction History</a></p> <p><a href="{% url 'update_info' %}">Edit user information</a></p> <p><a href="{% url 'change_password' %}">Change Password</a></p><p><a href="{% url 'change_pin' %}">Change Transaction Pin</a></p>
        </div>
    </div>
    <br/><br/><br/>
    <div class="bottom">
        <span>&copy; <i>AXIS BANK</i>, 2023</span>
    </div>
</body>
</html>

{% endblock %}