{% block content%}
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axis Bank</title>
    <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
</head>
<body>
    <div class="top-div">
        {% if request.user.is_authenticated %}
        <h4><span>Welcome,</span> {{request.user.username}}</h4>
        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
    {% else %}
    <div class="top-div">
        <h4>AXIS Bank</h4>
        <ul>
            <li><a class="login" href="{% url 'login' %}">LogIn</a></li>
        </ul>
    </div>
    {% endif %}
</body>
</html>

{% endblock %}