body{
    background-color: whitesmoke;
}

.top-div{
    width: 99%;
    margin: auto;
    border-radius: 5px;
    height: 40px;
    background-color: purple;
}

.top-div h4{
    margin-top: 4px;
    float: left;
    margin-left: 10px;
    color: white;
    font-style: oblique;
}


.top-div ul{
    margin-top: 3px;
    float: right;
    /* margin-right: 10px; */
    display: block;
}

.top-div ul li {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    font-size: 14px;
}

.top-div ul li a {
    text-decoration: none;
    color: red;
}

.top-div ul li a:hover{
    color: red;
    background-color: white;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
}

.profile-img{
    width: 135px;
    height: 135px;
}
.profile-img img {
    width: 130px;
    height: 130px;
}

.edit{
    width: 99%;
    margin: auto;
    background-color: purple;
    text-align: center;
    display: block;
}

.edit p {
    display: inline-block;
    margin: 8px;
    padding: 8px;
}
.edit p a {
    color: white;
    text-decoration: none;
}

.bottom{
    width: 98%;
    margin: auto;
    background-color: purple;
    text-align: center;
    margin-top: 40px;
}

.bottom span{
    color: white;
    font-size: 13px;
}










